<#include "/conf/header.html">

<div class="container">
    <div class="row justify-content-lg-center">
        <div class="form-group card col-lg-3" style="margin-top:15%">
            <h3 style="text-align: center" class="my-2">Registration</h3>

            <div class="my-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user"></i></div>
                    </div>
                    <input type="text" class="form-control" placeholder="name">
                </div>
            </div>

            <div class="my-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user"></i></div>
                    </div>
                    <input type="text" class="form-control" placeholder="last name">
                </div>
            </div>

            <div class="my-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-user"></i></div>
                    </div>
                    <input type="text" class="form-control" placeholder="login">
                </div>
            </div>

            <div class="my-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    <input type="password" class="form-control" id="password_origin" placeholder="password (origin)">
                </div>
            </div>

            <div class="my-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    <input type="password" class="form-control" id="password_repeat" placeholder="password (repeat)">
                </div>
            </div>

            <form action="/login" class="my-2">
                <button type="submit" class="btn btn-light" style="width:100%">Create account</button>
            </form>
        </div>
    </div>
</div>

<#include "/conf/footer.html">